<?php  
        echo nl2br("The nodename is {{ ansible_nodename }}\n The architecture of the remote machine is {{ ansible_architecture }}\r\n The OS version of the remote machine is {{ ansible_distribution }} {{ ansible_distribution_version }}");  
?> 
